html {
    display: flex;
    height: 100%;
}

body, header, footer {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

.content {
    width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

header, footer { 
    background-color: black;
    height: 10%;  
    max-height: 10%;    
}

footer {
    background-color: black;
    height: 5%;    
    max-height: 10%;          
}

header > .content, footer > .content {
    height: 20%;
    width: 100%;
    color: white;
    border: none;
}

.content {
    height: 100%;
}
