body {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif !important;
}
body h1 {
  font-family: 'Architects Daughter', cursive !important;
}
header {
  background-color: #000000;
  position: fixed;
  min-height: 5%;
  width: 100%;
  z-index: 1;
  border-bottom: 8px solid #ff85c2;
}
@media '~only screen and (min-width: 1024px) and (max-width: 1499px)' {
  header {
    height: 60px;
  }
}
header .logo {
  float: left;
  height: 100%;
  width: 30%;
  padding: 10px 20px 10px 20px;
}
header .logo a {
  font-size: 43px;
  font-family: 'Architects Daughter', cursive !important;
  color: #ffffff;
  font-style: italic;
}
header .logo a span {
  float: left;
  margin-right: 10px;
}
header .logo a span:first-letter {
  font-size: 60px;
}
header .logo a:hover {
  text-decoration: none;
}
@media '~only screen and (min-width: 1024px) and (max-width: 1499px)' {
  header .logo {
    width: 10%;
  }
}
header .menu-burger {
  float: right;
  width: 20%;
  height: 100px;
}
header .menu-burger a {
  color: #ffffff;
  font-size: 1.5em;
  position: absolute;
  right: 2%;
  top: 32%;
}
header .menu-burger nav ul {
  position: absolute;
  top: 32%;
  left: 100%;
  transition: left 1s;
}
header .menu-burger nav ul.active {
  left: 60%;
}
header .menu-burger nav ul li {
  display: block;
  float: left;
  margin: 0 20px;
}
header .menu-burger nav ul li a {
  position: relative;
}
header .menu-burger nav ul li a:hover {
  text-decoration: none;
  color: #ff85c2;
}
header .menu-burger nav ul.active {
  right: 5%;
}
section {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
}
section.silver {
  background-color: #f2f2f2;
}
section.silver .row .sub-container {
  border: 10px solid #ffffff;
}
section.purple {
  background-color: #ff85c2;
  color: #ffffff;
}
section.purple .row .sub-container {
  border: 10px solid #f2f2f2;
}
section.white {
  background-color: #ffffff;
}
section.white .row .sub-container {
  border: 10px solid #f2f2f2;
}
section .container .row .sub-container {
  height: 100%;
  margin-top: 70px;
  padding: 20px;
}
section .container .row .sub-container .work_container {
  width: 100%;
  padding-top: 0%;
  padding-bottom: 0%;
  min-height: 90%;
  position: relative;
}
section .container .row .sub-container .work_container .work_content {
  min-height: 85%;
  width: 100%;
  position: relative;
  border: 0;
}
section .container .row .sub-container .work_container .work_content .work_image img {
  width: 93%;
}
section .container .row .sub-container .work_container .work_content .work_details {
  min-height: 335px;
}
section .container .row .sub-container .work_container .work_content .work_details .work_text_details {
  font-size: 18px;
}
.slider-pager {
  padding-top: 20px;
  text-align: center;
}
.slider-pager a {
  color: #000000;
}
footer {
  background-color: #000000;
  position: fixed;
  min-height: 6%;
  width: 100%;
  z-index: 1;
  border-top: 5px solid #ff85c2;
  bottom: 0;
  text-align: center;
  font-size: 14px;
}
footer ul {
  list-style-type: none;
}
footer ul li {
  float: left;
  color: #f2f2f2;
  margin: 10px 5px;
  padding-left: 10px;
  border-left: 1px solid #ff85c2;
  text-align: center;
}
footer ul li a {
  color: #f2f2f2;
}
footer ul li a:hover {
  color: #ff85c2;
  text-decoration: none;
}
